<form [formGroup]="searchFilterForm" class="search-bar">
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input type="text" matInput formControlName="productName" />
  </mat-form-field>
  <div class="slider-container">
    <mat-label
      >min:
      {{
        searchFilterForm.value.price_gte
          ? (searchFilterForm.value.price_gte | currency)
          : "- -"
      }}
    </mat-label>
    <mat-slider
      class="left-slider"
      thumbLabel
      step="1"
      min="{{ pricePoints.min }}"
      max="{{ pricePoints.max }}"
      formControlName="price_gte"
    ></mat-slider>
  </div>
  <div class="slider-container">
    <mat-label
      >max:
      {{
        searchFilterForm.value.price_lte
          ? (searchFilterForm.value.price_lte | currency)
          : "- -"
      }}
    </mat-label>
    <mat-slider
      thumbLabel
      class="right-slider"
      min="{{ pricePoints.min }}"
      max="{{ pricePoints.max }}"
      formControlName="price_lte"
    ></mat-slider>
  </div>

  <mat-button-toggle-group
    #toggleGroup="matButtonToggleGroup"
    formControlName="isAvailable"
  >
    <mat-button-toggle value="true" (click)="onClick(toggleGroup)"
      >Available</mat-button-toggle
    >
    <mat-button-toggle value="false" (click)="onClick(toggleGroup)"
      >Unavailable</mat-button-toggle
    >
  </mat-button-toggle-group>
</form>
