<form [formGroup]="searchFilterForm" class="search-bar">
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input
      type="text"
      matInput
      (keyup)="onKeyUp($event)"
      formControlName="searchText"
    />
  </mat-form-field>
  <div class="slider-container">
    <mat-label
      >min: {{ searchFilterForm.value.minPrice | currency }}
    </mat-label>
    <mat-slider
      class="left-slider"
      step="1"
      min="0"
      max="10"
      thumbLabel
      formControlName="minPrice"
    ></mat-slider>
  </div>
  <div class="slider-container">
    <mat-label
      >max: {{ searchFilterForm.value.maxPrice | currency }}
    </mat-label>
    <mat-slider
      class="right-slider"
      min="10"
      max="20"
      thumbLabel
      formControlName="maxPrice"
    ></mat-slider>
  </div>

  <mat-button-toggle-group
    #toggleGroup="matButtonToggleGroup"
    multiple
    formArrayName="available"
  >
    <mat-button-toggle value="true" (click)="onClick(toggleGroup.value)"
      >Available</mat-button-toggle
    >
    <mat-button-toggle value="false" (click)="onClick(toggleGroup.value)"
      >Unavailable</mat-button-toggle
    >
  </mat-button-toggle-group>
</form>
