<div class="search-bar">
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input type="text" matInput (keyup)="onKeyUp($event)" />
  </mat-form-field>
  <div class="sliders">
    <mat-slider
      thumbLabel
      class="left-slider"
      step="1"
      min="0"
      max="10"
    ></mat-slider>
    <mat-slider
      class="right-slider"
      min="10"
      max="20"
      invert
      thumbLabel
    ></mat-slider>
  </div>

  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
    <mat-button-toggle value="true" (click)="onClick(toggleGroup.value)"
      >Available</mat-button-toggle
    >
    <mat-button-toggle value="false" (click)="onClick(toggleGroup.value)"
      >Unavailable</mat-button-toggle
    >
  </mat-button-toggle-group>
</div>
